<h1>Congratulations! You have a new pet!</h1>

<h3>Your Pet's Name:  <%= @pet_name %></h3>

<h3>Current Food Level: <%= @food_level %></h3>

<h3>Current Activity Level:  <%= @activity_level %></h3>

<h3>Current Sleep Level:  <%= @sleep_level %></h3>

<p><a href="/">Back</a></p>
